body{
    background: pink;
    color: hwb(0 100% 0%);
    margin: 0px;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
}

.chamada{
background: rgb(202, 67, 89);
margin-top: 80px;
margin-bottom: 80px;
display: flex;
justify-content: center;
}
header{
color: bisque;
font-size: 40px;
margin-bottom: 3px;
padding: 20px;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}

categoria{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
}
.categoria-vieos{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}
.categoria-vieos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-vieos img:hover{
    opacity: 1.0;
    border: 3px solid palevioletred;
}